@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


.bootom {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    align-self: center;
    bottom: 0;
    height: auto;
    padding: 10px;
    align-items: center;
    width: 100%;
    background: #121213bb;
    margin-top: 10px;
}

.tcl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tcl h2,
.tcl h3 {
    font-family: 'Macondo', cursive;
    color: white;
    font-size: 25px;
    margin-top: 0;
}

.tcl h3 {
    font-size: 20px;
}

.svg-logo {
    width: 100%;
    display: flex;
    margin-top: 1px;
    justify-content: center;
}

.svg-css {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.svg-css:hover {
    background-color: red;
}

svg {
    width: 18px;
    padding: 0 5px;
}

.social-tag {
    font-size: 24px;
}

.social-tag:hover {
    color: rgb(255, 255, 255);
}

.vr {
    width: 1px;
    height: 100%;
    background: white;
}

.aboutsite {
    margin-left: 10px;
    display: flex;
}

.about-link {
    margin-left: max(15px);
}

li.ftrli {
    margin: 0;
    padding: 0.0px;
    justify-content: center;
}

.ftrData {
    margin: 0;
    padding: 0;
}

ol li {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
    font-family: 'Macondo', cursive;
    color: coral;
    cursor: text;

}

.cus h2 {
    font-family: 'Macondo', cursive;
    color: coral;
    text-transform: uppercase;
}

.contactUs h4,
a.mail {
    color: white;
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}

