.home {
    background-color: #212121;
}

.home-container {
    margin-left: 80px;
    min-height: calc(100vh - 80px);
}

.main-container {
    left: 20%;
    max-width: 1200px;
    background-color: rgba(74, 77, 77, 0.26);
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    padding: 20px 0 1px 0;
}

.status-container {
    background: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    margin-top: 0;

}

.card {
    max-width: 300px;
    width: 100%;
    height: 200px;
    background-color: rgb(43, 41, 41);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card-inner {
    margin: auto;
    color: white;
}

.status {
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;

}

.status-items {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.status-items::before {
    margin-bottom: -4px;
    margin-right: 10px;

}
.status-items svg{
    margin-right: 10px;
}

.graph-card {
    max-width: 600px;
}

.tran-container {
    /* width: calc(100% -80px); */
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.heading {
    margin: auto;
}

table {
    width: 100%;
    padding: 20px;
}

caption {
    font-size: 25px;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid;
    width: fit-content;
}
td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
    padding: 0 5px;
}
thead{
    background-color: #212121;
    color: white;
    border-radius: 5px;
    column-width: none;
    
}
.amountList{
    width: 10%;
}
.index-id{
    text-decoration: underline;
    cursor: pointer;
    width: 3%;
}
.index-date{
    width: 10%;
}
.index-approval{
    width: 10%;
}
tr{
    transition: ease 0.5s;
}
tr:hover{
    background-color: coral;
}
.approved_svg{
    fill: rgb(1, 177, 1);
}
.pending_svg{
    fill: rgb(204, 204, 2);
}
.reject_svg{
    fill: red;
}
