@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0px 0px;
    gap: 14px;
    position: absolute;
    width: 78px;
    height: 700px;
    left: 0px;
    top: 80px;
    background: #3B3936;
    border-radius: 0px 10px 0px 0px;
}

.bi-list {
    content: url(/src/icon/list.svg);
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: -15px;
    cursor: pointer;
    padding: 10px;
    transition: ease-in-out 0.3s;
    border-radius: 50%;
}

.bi-list:hover {
    background-color: #575655;
    border-radius: 50%;
}

.barMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;
    width: 78px;
    height: 323px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.barMenu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 2px;
    height: 54px;
    border-radius: 0px 10px 10px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
}

.btn-dashboard {
    background: #FF5F5D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-expenses {
    background: #524F53;
    transition: ease-in-out 0.1s;
}

.btn-expenses:hover {
    background-color: #696669;
}


.bar-icon {
    width: 30px;
    height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon-house {
    content: url(/src/icon/house.svg);
}

.icon-expenses {
    content: url(/src/icon/cash-coin.svg);
}

.icon-approval {
    content: url(/src/icon/patch-check.svg);
}

.icon-graph {
    content: url(/src/icon/graph-up.svg);
}

.icon-help {
    content: url(/src/icon/question-square.svg);
}

.btn-link {
    width: 52px;
    height: 12px;
    margin: 0;

    font-family: 'Hubballi';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.link-dashboard {
    color: #1A1C20;
}

.link-expenses {
    color: white;
}

.logIn-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    bottom: 45px;
    border-radius: 50%;

    width: 60px;
    height: 60px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
    transition: ease 0.2s;
}

.logIn-avatar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 14px;
    gap: 10px;

    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;

    color: #FFFFFF;
}

.logIn-container:hover{
    background-color: #2e2d2d6e;

}